@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@import url(https://db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DIN+Next+Rounded+LT+W01+Regular);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Feather Bold', sans-serif;
}

body {
  background-color: #f7f9fc;
  color: #333;
}

h2{
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
}

.braille-grid, .senias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5em;
    padding: 10px;
    max-width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
 }
 
 .braille-item, .seña-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0.3em;
   background-color: #e0e0e0;
   border-radius: 10px;
   font-size: 2em;
   color: #333;
   transition: background-color 0.3s ease;
 }
 
 .braille-item:hover {
   background-color: #1899d6;
   color: white;
   cursor: default;
   transform: scale(1.05);
   transition: all 0.3s ease;
 }
 .single-result .senia-item,
 .single-result .braille-item {
   max-width: 150px;
   margin: 12px;
 }
 
 .senia-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5em;
    padding: 10px;
    max-width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
 }
 
 .senia-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0.75em;
   background-color: #e0e0e0;
   border-radius: 10px;
   font-size: 2em;
   color: #333;
   transition: background-color 0.3s ease;
 }
 .braille-img,
 .senia-img {
   width: 100%;
   height: auto;
   max-width: 150px;
   object-fit: contain;
 }
 .senia-item:hover {
   background-color: #1899d6;
   color: white;
   cursor: default;
   transform: scale(1.05);
   transition: all 0.3s ease;
 }
 
 
 footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 1em;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  .footer-section p {
    font-size: 1em;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-logo {
    width: 100px;
    margin-top: 10px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #ddd;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 0.9em;
  }