
 #botonVidas {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      cursor: default;
    }
/*----------------------------------Vidas---------------------------------*/
#vidaYNum h4 {
    margin-right: 14px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left: 3px;
}

#vidaYNum:hover{
    text-decoration: underline;
    color: white;
}

#vidas{
    font-size: 16px;
    color: #ea2b2b;
}

#vidaYNum {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    right: 100px;
    bottom: 430px
}

 /*----------------------------------Header------------------------------------*/
 .fa-solid fa-heart-crack {
     color: #ff4b4b;
 }

 .fa-clock-rotate-left {
     color: #e7a601;
 }

 .fa-solid fa-heart {
     color: #ff4b4b;

 }

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: #1cb0f6;
     color: white;
 }

 .logo {
     display: flex;
     align-items: center;
     margin-left: 20px;
 }

 .logo h1 {
     font-size: 1.8em;
 }

 .logo-img {
     width: 50px;
     height: auto;
 }

 nav ul {
     list-style-type: none;
     display: flex;
     gap: 20px;
     align-items: center;
 }

 nav a {
     color: white;
     text-decoration: none;
     font-weight: bold;
 }

 nav a:hover {
     text-decoration: underline;
 }

 nav a.active {
     background-color: #2b70c9;
     padding: 10px;
     border-radius: 5px;
     text-decoration: none;
 }

 nav a.active:hover {
     background-color: #215598;
 }

 .perfil {
     display: flex;
     align-items: center;
 }

 .user-icon {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 15px;
     transition: transform 0.3s ease;
 }

 .user-icon:hover{
     transform: scale(1.2);
 }
 .points-container i{
     color: #ffb34c;
     padding-right: 3px;
 }