@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Feather Bold', sans-serif;
}

body {
    background-color: #f7f9fc;
    color: #333;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin: 20px 0 0 0;
    color: #1cb0f6;
    text-align: center;
}

form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    border-color: #4caf50;
    outline: none;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
}

button:hover {
    background-color: #45a049;
}

textarea {
    resize: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 1em;
    width: 100%;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 1em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 100px;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ddd;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9em;
}