<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso</title>
    <link rel="stylesheet" href="/css/curso.css">
    <link rel="stylesheet" href="/css/header.css"/>
    <link href="https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0c2f2ab9be.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="logo">
        <a href="/views/dashboard.html"><img src="/img/icon.svg" alt="Logo" class="logo-img" /></a>
        <h1>omunico</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/views/dashboard.html">Inicio</a></li>
            <li><a href="/views/menu-senias.html">Lengua de Señas</a></li>
            <li><a href="/views/menu-braille.html">Braille</a></li>
            <li><a href="/views/suscripciones.html">Suscripciones</a></li>

            <li>
                <a class="points-container">
                    <i class="fa-solid fa-coins"></i>
                    <span>0</span>
                </a>
            </li>

            <li>
                <button id="botonVidas" style="display: contents">
                    <div class="grupo_input" id="vidaYNum">
                        <i class="fa-solid fa-heart" id="vidas"></i>
                        <h4 id="vidasNumero">5</h4>
                    </div>
                </button>
            </li>
            <a><img
                    src="/img/perfil-icon.png"
                    alt="Usuario"
                    class="user-icon"
            /></a>
        </ul>
    </nav>
</header>

<h1 class="tituloCurso">¡Curso de conocimiento de bastones para personas ciegas!</h1>
<h2 class="tituloCurso" id="subtitulo"> Mirá el video a continuación y luego completá las preguntas</h2>

<div class="contenido">
    <div class="video">
        <iframe width="1265" height="480" src="https://www.youtube.com/embed/6XOwTb0uNaY" title="EL SIGNIFICADO DE LOS COLORES DE LOS BASTONES PARA PERSONAS CIEGAS #ONCE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="formulario">
        <form>
            <div class="pregunta">
            <p>1- ¿Cuál es la función principal del bastón blanco?</p>

            <label>
                <input type="radio" name="baston1" value="1"> Para detectar obstáculos en el camino.
            </label><br>

            <label>
                <input type="radio" name="baston1" value="2"> Solo para indicar ceguera.
            </label><br>

            <label>
                <input type="radio" name="baston1" value="3"> Para señalizar la dirección.
            </label><br>

            <label>
                <input type="radio" name="baston1" value="4"> Para diferenciar colores.
            </label><br>
            </div>
            <div class="pregunta">
                <p>2- ¿Qué indica el bastón rojo y blanco? </p>



                <label>
                    <input type="radio" name="baston2" value="1"> Que la persona tiene problemas para caminar.
                </label><br>

                <label>
                    <input type="radio" name="baston2" value="2"> Que la persona tiene baja visión.
                </label><br>

                <label>
                    <input type="radio" name="baston2" value="3"> Que la persona es sorda.
                </label><br>

                <label>
                    <input type="radio" name="baston2" value="4"> Que la persona es sorda y ciega.
                </label><br>
            </div>
            <div class="pregunta">
                <p>3- ¿Qué tipo de ceguera se conoce como "ceguera total"?</p>

                <label>
                    <input type="radio" name="baston3" value="1"> Baja visión.
                </label><br>

                <label>
                    <input type="radio" name="baston3" value="2"> Visión periférica reducida.
                </label><br>

                <label>
                    <input type="radio" name="baston3" value="3"> Ausencia completa de percepción de luz.
                </label><br>

                <label>
                    <input type="radio" name="baston3" value="4"> Dificultad para distinguir colores.
                </label><br>
            </div>
            <div class="pregunta">
                <p>4- ¿Qué tipo de bastón se suele utilizar para personas con baja visión?</p>

                <label>
                    <input type="radio" name="baston4" value="1"> Bastón azul.
                </label><br>

                <label>
                    <input type="radio" name="baston4" value="2"> Bastón rojo y blanco.
                </label><br>

                <label>
                    <input type="radio" name="baston4" value="3"> Bastón blanco.
                </label><br>

                <label>
                    <input type="radio" name="baston4" value="4"> Bastón verde.
                </label><br>
            </div>

            <button type="submit">Enviar respuesta</button>
        </form>
    </div>
    <div id="resultados"></div>

</div>
<h3 > Más información sobre bastones para personas ciegas y tipos de ceguera </h3>
<div class="info">
<p>Los bastones para personas ciegas son herramientas esenciales que ayudan a las personas con discapacidad visual a moverse de manera independiente y segura.
    <br>
    <br>Existen diferentes tipos de bastones, cada uno diseñado para una necesidad específica. Por ejemplo, el bastón blanco es el más común y se utiliza para detectar obstáculos, mientras que el bastón rojo y blanco indica que la persona es sorda y ciega.
    <br>
    <br> Además, hay distintos grados de ceguera, desde la baja visión hasta la ceguera total, que afecta la capacidad visual de diversas maneras.
    <br>
<div class="bastones">
    <img src="/img/baston_blanco.webp" alt="Description of the image">
    <img src="/img/baston_rojo_blanco.webp" alt="Description of the image">
    <img src="/img/baston_verde.webp" alt="Description of the image">

</div>
    <div id="masInfo">
    <br> Para obtener más información detallada sobre los tipos de bastones y la ceguera, podés consultar el siguiente documento:</p>
    <br>
    </div>
    <a id="link" href="https://rutmarfil.wixsite.com/hijosypadres/post/bastones-gu%C3%ADa-para-ciegos-qu%C3%A9-indican-sus-colores" target="_blank">Conocer más sobre los tipos de bastones para personas con discapacidad visual.</a>

    </div>

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Comunico</h4>
            <p>Aprendé lengua de señas y braille de manera divertida y accesible.</p>
            <img src="/img/Isologo-Comunico.svg" alt="Logo Comunico" class="footer-logo">
        </div>

        <div class="footer-section">
            <h4>Recursos</h4>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Conocé más</h4>
            <ul>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Cursos Disponibles</a></li>
                <li><a href="#">Testimonios</a></li>
                <li><a href="#">Carreras</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Redes Sociales</h4>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Comunico - Todos los derechos reservados.</p>
    </div>
</footer>
<script src="/js/curso.js"></script>
</body>
</html>