<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ejercicio</title>

    <link rel="icon" href="/img/icon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/ejercicio-traduccion.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/views/dashboard.html"><img src="/img/icon.svg" alt="Logo" class="logo-img" /></a>
        <h1>omunico</h1>
      </div>

      <nav>
        <ul>
          <li><a href="/views/dashboard.html">Inicio</a></li>
          <li><a href="/views/menu-senias.html">Lengua de Señas</a></li>
          <li><a href="/views/menu-braille.html">Braille</a></li>
          <li><a href="/views/suscripciones.html">Suscripciones</a></li>

          <li>
            <a href="/comprar" class="points-container">
              <i class="fa-solid fa-coins"></i>
              <span>0</span>
            </a>
          </li>

          <li>
            <button id="botonVidas" style="display: contents">
              <div class="grupo_input" id="vidaYNum">
                <i class="fa-solid fa-heart" id="vidas"></i>
                <h4 id="vidasNumero">5</h4>
              </div>
            </button>
          </li>
          <a href="/crear-curso"
            ><img src="/img/perfil-icon.png" alt="Usuario" class="user-icon"
          /></a>
        </ul>
      </nav>
    </header>

    <button class="cerrar" id="botonCerrar">&#10005;</button>

    <div id="modalSalir" class="modal">
      <div class="modal-content">
        <h2>¿Estás seguro que querés salir?</h2>
        <div class="contenedorDeOpciones">
          <button id="cancelarSalir" class="confirmar">Continuar</button>
          <button id="confirmarSalir" class="cancelar">Abandonar</button>
        </div>
      </div>
    </div>

    <div class="titulo">
      <h3>Elegí la opción correcta</h3>
    </div>

    <div class="game-container">
      <div class="question">
        <div class="braille-item-sin-hover">
          <img src="/img/abecedario braille/braille-e.png" />
        </div>
      </div>

      <form action="resolverEjercicio()">
        <div class="contenedorDeOpciones">
          <div class="radioYLetraJuntos">
            <input
              class="option"
              type="radio"
              id="opcion_1"
              name="respuesta"
              value="1"
            />
            <label class="optionLetra" tfor="opcion_1">A</label>
          </div>
          <div class="radioYLetraJuntos">
            <input
              class="option"
              type="radio"
              id="opcion_2"
              name="respuesta"
              value="2"
            />
            <label class="optionLetra" for="opcion_2">F</label>
          </div>
          <div class="radioYLetraJuntos">
            <input
              class="option"
              type="radio"
              id="opcion_3"
              name="respuesta"
              value="3"
            />
            <label class="optionLetra" for="opcion_3">E</label>
          </div>
        </div>
        <div class="contenedor-enviar">
          <button class="enviar" type="submit">Enviar</button>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/ejercicio-traduccion.js"></script>
  </body>
</html>
