<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comunico</title>
  <link rel="icon" href="/img/icon.svg" type="image/x-icon">
  <link rel="stylesheet" href="/css/menu-lecciones.css"/>
  <link rel="stylesheet" href="/css/header.css"/>
  <link href="https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0c2f2ab9be.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="logo">
          <a href="/views/dashboard.html"><img src="/img/icon.svg" alt="Logo" class="logo-img" /></a>
          <h1>omunico</h1>
        </div>
  
        <nav>
          <ul>
            <li><a href="/views/dashboard.html">Inicio</a></li>
          <li><a href="/views/menu-senias.html">Lengua de Señas</a></li>
          <li><a href="/views/menu-braille.html">Braille</a></li>
          <li><a href="/views/suscripciones.html">Suscripciones</a></li>
  
            <li>
              <a href="/comprar" class="points-container">
                <i class="fa-solid fa-coins"></i>
                <span>0</span>
              </a>
            </li>
  
            <li>
              <button id="botonVidas" style="display: contents">
                <div class="grupo_input" id="vidaYNum">
                  <i class="fa-solid fa-heart" id="vidas"></i>
                  <h4 id="vidasNumero">5</h4>
                </div>
              </button>
            </li>
            <a href="/crear-curso"
              ><img
                src="/img/perfil-icon.png"
                alt="Usuario"
                class="user-icon"
            /></a>
          </ul>
        </nav>
  
      </header>
    
    <div class="titulo"><i class="fa-solid fa-braille"></i> Lecciones de Braile</div>
    <div class="leccionesBasicas">
      <a href="/views/abecedario-braille.html"> <input class="leccionesB" type="button" name="abecedario" id="abc" value="Abecedario"> </a>
      <a href="/views/ejercicio-traduccion.html" id="traduccion-link">  <input class="leccionesB" type="button" name="" id="letras" value="Reconocé letras"></a>
      <a href="/views/ejercicio-matriz.html"><input class="leccionesB" type="button" name="" id="palabrasB" value="Formá letras"></a>
      <a href="/views/ejercicio-forma-palabra.html"><input class="leccionesB" type="button" name="" id="frasesB" value="Armá palabras"></a>
    </div>
    
    <div class="volver-atras-container">
      <a href="/views/dashboard.html" class="volver-atras">Volver atrás</a>
    </div>
    
    <footer>
        <div class="footer-container">
          <div class="footer-section">
            <h4>Comunico</h4>
            <p>Aprendé lengua de señas y braille de manera divertida y accesible.</p>
            <img src="/img/Isologo-Comunico.svg" alt="Logo Comunico" class="footer-logo">
          </div>
      
          <div class="footer-section">
            <h4>Recursos</h4>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
              <li><a href="#">Política de Privacidad</a></li>
            </ul>
          </div>
      
          <div class="footer-section">
            <h4>Conocé más</h4>
            <ul>
              <li><a href="#">Sobre Nosotros</a></li>
              <li><a href="#">Cursos Disponibles</a></li>
              <li><a href="#">Testimonios</a></li>
              <li><a href="#">Carreras</a></li>
            </ul>
          </div>
      
          <div class="footer-section">
            <h4>Redes Sociales</h4>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Comunico - Todos los derechos reservados.</p>
        </div>
      </footer>
    
    </body>
    </html>