<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Suscripciones</title>

  <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/suscripciones.css"/>
  <link rel="stylesheet" href="/css/header.css"/>
  <script src="https://kit.fontawesome.com/0c2f2ab9be.js" crossorigin="anonymous"></script>

  <style>
    .features {
      list-style-type: none; /* Elimina los puntos de la lista */
      padding-left: 0; /* Elimina el sangrado izquierdo */
    }
  </style>

</head>
<body>

  <header>
    <div class="logo">
      <a href="/views/dashboard.html"><img src="/img/icon.svg" alt="Logo" class="logo-img" /></a>
      <h1>omunico</h1>
    </div>

    <nav>
      <ul>
        <li><a href="/views/dashboard.html">Inicio</a></li>
          <li><a href="/views/menu-senias.html">Lengua de Señas</a></li>
          <li><a href="/views/menu-braille.html">Braille</a></li>
          <li><a href="/views/suscripciones.html">Suscripciones</a></li>

        <li>
          <a href="/comprar" class="points-container">
            <i class="fa-solid fa-coins"></i>
            <span>0</span>
          </a>
        </li>

        <li>
          <button id="botonVidas" style="display: contents">
            <div class="grupo_input" id="vidaYNum">
              <i class="fa-solid fa-heart" id="vidas"></i>
              <h4 id="vidasNumero">5</h4>
            </div>
          </button>
        </li>
        <a href="/crear-curso"
          ><img
            src="/img/perfil-icon.png"
            alt="Usuario"
            class="user-icon"
        /></a>
      </ul>
    </nav>

  </header>

<main>
 <!--
  <div class="alert alert-success">
    <p>Compra realizada</p>
  </div>
  <div class="alert alert-danger" role="alert">
    <span>Error al realizar la compra</span>
  </div>
  -->
  <section class="pricing-plans">
    <div class="pricing-card basic">
      <div class="heading">
        <h4>BÁSICO</h4>
      </div>
      <p class="price">
        $3.000
        <sub>/mes</sub>
      </p>
      <ul class="features">
        <li>* Corregir errores</li>
        <li>* + 500 comunicoPoints</li>
      </ul>
      <form action="" method="post">
        <input type="hidden" name="nombreSuscripcion" value="basico">
        <button type="submit" style="border:none" class="cta-btn">
          Suscribirse
        </button>
      </form>
    </div>

    <div class="pricing-card standard">
      <div class="heading">
        <h4>ESTÁNDAR</h4>
      </div>
      <p class="price">
        $5.000
        <sub>/mes</sub>
      </p>
      <ul class="features">
        <li>* Corregir errores</li>
        <li>* + 15 ayudas disponibles</li>
        <li>* 1000 comunicoPoints</li>
      </ul>
      <form action="" method="post">
        <input type="hidden" name="nombreSuscripcion" value="estandar">
        <button type="submit" style="border:none" class="cta-btn">
          Suscribirse
        </button>
      </form>
    </div>

    <div class="pricing-card premium">
      <div class="heading">
        <h4>PREMIUM</h4>
      </div>
      <p class="price">
        $8.000
        <sub>/mes</sub>
      </p>
      <ul class="features">
        <li>* Corregir errores</li>
        <li>* + 20 ayudas disponibles</li>
        <li>* 1500 comunicoPoints</li>
        <li>* Obtener vidas ilimitadas</li>
      </ul>
      <form action="" method="post">
        <input type="hidden" name="nombreSuscripcion" value="premium">
        <button type="submit" style="border:none" class="cta-btn">
          Suscribirse
        </button>
      </form>
    </div>
  </section>
</main>

<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h4>Comunico</h4>
      <p>Aprendé lengua de señas y braille de manera divertida y accesible.</p>
      <img src="/img/Isologo-Comunico.svg" alt="Logo Comunico" class="footer-logo">
    </div>

    <div class="footer-section">
      <h4>Recursos</h4>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
        <li><a href="#">Términos y Condiciones</a></li>
        <li><a href="#">Política de Privacidad</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Conocé más</h4>
      <ul>
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Cursos Disponibles</a></li>
        <li><a href="#">Testimonios</a></li>
        <li><a href="#">Carreras</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Redes Sociales</h4>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Comunico - Todos los derechos reservados.</p>
  </div>
</footer>

<script type="text/javascript" src="webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>


</body>
</html>
